@import "tailwindcss";

[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #1c398e;
}
::-webkit-scrollbar {
  height: 14px;
  width: 16px;
  background-color: #d1d5dc;
}
::-webkit-scrollbar-track {
  background-color: #d1d5dc;
}
::-webkit-scrollbar-corner {
  background-color: #d1d5dc;
}
::-webkit-scrollbar-thumb {
  background: #d1d5dc;
  border: 2px solid #f3f4f6;
  border-right: 2px solid #6a7282;
  border-bottom: 2px solid #6a7282;
  visibility: visible;
}

@keyframes tickSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tailwind의 animate-* 클래스처럼 사용 */
.animate-tick-spin {
  animation: tickSpin 3s steps(10) infinite;
}
