.character_box {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 10;
  will-change: transform;
  will-change: left;
}

/* 캐릭터 이미지 preload. useImagePreload 훅으로 처리시 정상적으로 처리가 되지 않아서 대신 CSS로 처리. */
body::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  background-image:
    url("/images/game/character_front.png"),
    url("/images/game/character_front_run.png"),
    url("/images/game/character_back.png"),
    url("/images/game/character_back_run.png"),
    url("/images/game/character_right.png"),
    url("/images/game/character_right_run.png"),
    url("/images/game/fat_front.png"), url("/images/game/fat_front_run.png"),
    url("/images/game/fat_back.png"), url("/images/game/fat_back_run.png"),
    url("/images/game/fat_right.png"), url("/images/game/fat_right_run.png"),
    url("/images/game/old_front.png"), url("/images/game/old_front_run.png"),
    url("/images/game/old_back.png"), url("/images/game/old_back_run.png"),
    url("/images/game/old_right.png"), url("/images/game/old_right_run.png"),
    url("/images/game/person_front.png"), url("/images/game/person_left.png"),
    url("/images/game/person_back.png"), url("/images/game/person2_front.png"),
    url("/images/game/person2_left.png"), url("/images/game/person2_right.png");
}

@keyframes character_run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -200%;
  }
}

.character_box .character {
  height: 100%;
  background-image: url("/images/game/character_front.png");
  background-size: 100%;
}

.character_box .character.run {
  height: 100%;
  background-image: url("/images/game/character_front_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .character.back {
  height: 100%;
  background-image: url("/images/game/character_back.png");
  background-size: 100%;
}

.character_box .character.back.run {
  height: 100%;
  background-image: url("/images/game/character_back_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .character.right {
  height: 100%;
  background-image: url("/images/game/character_right.png");
  background-size: 100%;
}

.character_box .character.right.run {
  height: 100%;
  background-image: url("/images/game/character_right_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}
.character_box .character.flip {
  transform: rotateY(180deg);
}

.character_box .fat {
  height: 100%;
  background-image: url("/images/game/fat_front.png");
  background-size: 100%;
}

.character_box .fat.run {
  height: 100%;
  background-image: url("/images/game/fat_front_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .fat.back {
  height: 100%;
  background-image: url("/images/game/fat_back.png");
  background-size: 100%;
}

.character_box .fat.back.run {
  height: 100%;
  background-image: url("/images/game/fat_back_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .fat.right {
  height: 100%;
  background-image: url("/images/game/fat_right.png");
  background-size: 100%;
}

.character_box .fat.right.run {
  height: 100%;
  background-image: url("/images/game/fat_right_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}
.character_box .fat.flip {
  transform: rotateY(180deg);
}

.character_box .old {
  height: 100%;
  background-image: url("/images/game/old_front.png");
  background-size: 100%;
}

.character_box .old.run {
  height: 100%;
  background-image: url("/images/game/old_front_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .old.back {
  height: 100%;
  background-image: url("/images/game/old_back.png");
  background-size: 100%;
}

.character_box .old.back.run {
  height: 100%;
  background-image: url("/images/game/old_back_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .old.right {
  height: 100%;
  background-image: url("/images/game/old_right.png");
  background-size: 100%;
}

.character_box .old.right.run {
  height: 100%;
  background-image: url("/images/game/old_right_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}
.character_box .old.flip {
  transform: rotateY(180deg);
}
