.character_box {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 100;
  will-change: transform;
  will-change: left;
}

@keyframes character_run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -200%;
  }
}

.character_box .character {
  height: 100%;
  background-image: url("/images/game/character_front.png");
  background-size: 100%;
}

.character_box .character.run {
  height: 100%;
  background-image: url("/images/game/character_front_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .character.back {
  height: 100%;
  background-image: url("/images/game/character_back.png");
  background-size: 100%;
}

.character_box .character.back.run {
  height: 100%;
  background-image: url("/images/game/character_back_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}

.character_box .character.right {
  height: 100%;
  background-image: url("/images/game/character_right.png");
  background-size: 100%;
}

.character_box .character.right.run {
  height: 100%;
  background-image: url("/images/game/character_right_run.png");
  background-size: 200% 100%;
  animation: character_run 0.3s infinite steps(2);
}
.character_box .character.flip {
  transform: rotateY(180deg);
}
